.Card {
  margin-top: 15px;
  margin-left: 60px;
  margin-bottom: 60px;
  height: 33em;
  width: 350px;
  background: none;
  border: 1px solid black;
  background: #ffefba;
  background: -webkit-linear-gradient(to right, #ffefba, #ffffff);
  background: linear-gradient(to right, #ffefba, #ffffff);
}

.Card_text {
  margin: 10px;
  padding: 10px;
  font-size: smaller;
  overflow: hidden;
}

.Card_body {
  gap: 0;
  /* border: 5px solid rgb(250, 246, 246); */
}

.Card_image {
  transition: 0.5s ease-out;
}

.Card_image:hover {
  transform: scale(1.5);
  cursor: pointer;
  width: 300px;
}

@media screen and (max-width: 800px) {
  .Card {
    height: 18em;
    width: 250px;
    overflow-y: scroll;
    margin: 5px;
    padding: 5px;
    margin-bottom: 40px;
  }
}
